{% extends 'index.html' %}
{% block content %}
{% if success %}
<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: 2rem auto 0 auto">
    <strong>Register Successfull</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if login_status %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin: 2rem auto 0 auto">
    <strong>Incorrect Username and Password..!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form action="\" method="post" style="margin: 3rem auto 0 auto">
    {% csrf_token %}
    <h2 style="text-align: center;">Login</h2>
    <!-- Email input -->
    <div class="form-group">
        <label class="form-label" for="form2Example1">User name</label>
        <input type="text" id="form2Example1" class="form-control" name="User" required />
    </div>
    <div class="form-group">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" name="password" required />
    </div>
    <!-- <div class="form-group form check" style="margin-left: 3%;">
        <input type="checkbox" class="form-check-input"value="1" name="remember_me">
        <label class="form-check-label" for="Remember">Remember me</label>
    </div> -->
    <button class="btn btn-primary btn-block mb-4">Log in</button>
</form>
<p>I dont have account, <a href="/register/">Register now!</a></p>
{% endblock %}